
    <app-header (onAddClick)="_onAddClick()"></app-header>


    <div class="row no-space main-wrapper">
        <div class="col-md-2 screen-layout screen-layout1">
            <mat-icon (click)="onAddClick.emit()">add</mat-icon>
        </div>
        <div class="col-md-4 screen-layout screen-layout2 no-padding">
            <app-note-list [notes]="_notes" ></app-note-list>
        </div>
        <div class="col-md-6 screen-layout screen-layout3">
        <app-notes-update-view></app-notes-update-view>
        </div>
    </div>








