/*Global styles for notes app*/

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --primary-color: #303F9F;
  --text-light-color: #FFFFFF;
  --text-dark-color: #212121;
  --text-secondary-color: #757575;
  --accent-color: #448AFF;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  padding:10px;
  background-color: #efebeb73 !important;
}
.no-space{
  margin: 0 !important;
}
.active > mat-card {
  background-color: #807a7a4d
}
.active > mat-card > mat-card-title {
  color : #ffffff;
}
.active > mat-card > mat-card-content {
  color : #ffffff;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  
  opacity: 0.5; /* Firefox */
  font-weight: 300;
  font-size: 15px;
}
.save-btn{
  background: #5f5d5d9e !important;
  color: #fff !important;
  
}